body {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

.g-header-wrapper {
    background-color: #132f43;
}

.g-header-wrapper a {
    color: #ffffff;
}

.g-dashboard-link {
    font-size: 15px;
    margin-left: 20px;
    vertical-align: bottom;
    line-height: 52px;
    display: inline;
}

.g-app-logo {
    width: 1.5em;
    margin-right: 0.5rem;
    vertical-align: middle;
    display: inline-block;
}
