.g-footer-links
  a#g-about-link(href=aboutHref) About
  a#g-contact-link(href=contactHref) Contact
  a(href=apiRoot) Web API
  a#g-bug-link(href=bugLink) Report a bug

.g-footer-info
  | &copy; Kitware, Inc.
  | &copy; Data Exploration Lab
